DATABASE_URL=
DIRECT_URL=

NODE_ENV=

LOG_SERVICE_NAME=
LOG_LEVEL=
LOG_TO_STDOUT=

SEED_MODE=
ENABLE_THROTTLE=
PORT=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

MAX_FILE_SIZE=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_BASE_URL=

BULL_REDIS_IP=
BULL_REDIS_PORT=

ADMIN_APP_URL=
CANONICAL_PUBLIC_APP_URL=
PUBLIC_APP_URL=
