DATABASE_URL=
DIRECT_URL=

NODE_ENV=
SEED_MODE=
ENABLE_THROTTLE=
PORT=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

MAX_FILE_SIZE=
GCP_PROJECT_ID=
GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=
BULL_REDIS_IP=
BULL_REDIS_PORT=

ADMIN_APP_URL=
CANONICAL_PUBLIC_APP_URL=
PUBLIC_APP_URL=