DATABASE_URL=
DIRECT_URL=

NODE_ENV=

LOG_SERVICE_NAME=backend
LOG_LEVEL=info
LOG_TO_FILE=false

DB_SLOW_QUERY_THRESHOLD_MS=250

SEED_MODE=
ENABLE_THROTTLE=
PORT=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

MAX_FILE_SIZE=

R2_ACCOUNT_ID=
R2_PUBLIC_ACCESS_KEY_ID=
R2_PUBLIC_SECRET_ACCESS_KEY=
R2_PUBLIC_BUCKET_NAME=
R2_PUBLIC_BASE_URL=
R2_PRIVATE_ACCESS_KEY_ID=
R2_PRIVATE_SECRET_ACCESS_KEY=
R2_PRIVATE_BUCKET_NAME=

BULL_REDIS_IP=
BULL_REDIS_PORT=

ADMIN_APP_URL=
CANONICAL_PUBLIC_APP_URL=
PUBLIC_APP_URL=
